In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime,date,timedelta
import pickle

In [ ]:
now = datetime.now().date()
sdate= datetime.now().date()-timedelta(days=365*2)
datediff = (now-sdate).days

In [ ]:
allwind = pd.read_pickle('brommer_raw_2020-10-04_2022-10-03.pkl')

In [214]:
allwind.head(3)

         Date      Time  Temp  Wind  Orient  Speed  Gust Month
0  2020-10-04  12:04 AM  55.6  East    90.0    0.0   0.0   Oct
1  2020-10-04  12:09 AM  55.4  East    90.0    0.0   0.0   Oct
2  2020-10-04  12:14 AM  55.3  East    90.0    0.0   0.0   Oct

In [215]:
allwind['Month'] = pd.DatetimeIndex(allwind['Date']).month_name().str[:3]

In [216]:
allwind[['Date','Month','Time','Temp','Wind','Orient', 'Speed', 'Gust']]

           Date Month      Time  Temp  Wind  Orient  Speed  Gust
0    2020-10-04   Oct  12:04 AM  55.6  East    90.0    0.0   0.0
1    2020-10-04   Oct  12:09 AM  55.4  East    90.0    0.0   0.0
2    2020-10-04   Oct  12:14 AM  55.3  East    90.0    0.0   0.0
3    2020-10-04   Oct  12:19 AM  55.2  East    90.0    0.0   0.0
4    2020-10-04   Oct  12:24 AM  55.2  East    90.0    0.0   0.0
..          ...   ...       ...   ...   ...     ...    ...   ...
283  2022-10-03   Oct  11:39 PM  57.8   WNW   292.5    0.2   2.0
284  2022-10-03   Oct  11:44 PM  57.6  West   270.0    0.2   2.0
285  2022-10-03   Oct  11:49 PM  57.6  West   270.0    0.0   2.0
286  2022-10-03   Oct  11:54 PM  57.4  West   270.0    0.0   2.0
287  2022-10-03   Oct  11:59 PM  57.4  West   270.0    0.0   2.0

[204055 rows x 8 columns]

In [217]:
ordermth=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
allwind.groupby('Month')['Orient'].mean()

Month
Apr    107.611409
Aug    157.162230
Dec    173.464572
Feb    190.959180
Jan    164.482620
Jul    158.476647
Jun    161.591154
Mar    167.668695
May    158.200264
Nov    160.276549
Oct    155.205126
Sep    156.110474
Name: Orient, dtype: float64

In [250]:
print(pd.DataFrame([dict(sorted(allwind.groupby('Month')['Speed'].mean().round(2).items(), key=lambda x: x[1]))]))
print(pd.DataFrame([dict(sorted(allwind.groupby('Month')['Orient'].mean().round(2).items(), key=lambda x: x[1]))]))

    Oct   Nov   Dec   Jan   Sep   Feb   Aug   Jun   Apr   Mar  Jul   May
0  1.27  1.57  1.63  1.94  2.38  2.49  2.64  2.65  2.75  2.78  2.8  2.82
      Apr     Oct     Sep     Aug    May     Jul     Nov     Jun     Jan  \
0  107.61  155.21  156.11  157.16  158.2  158.48  160.28  161.59  164.48

      Mar     Dec     Feb
0  167.67  173.46  190.96

In [218]:
monthdirs = (allwind.groupby('Month')['Orient'].mean()[ordermth]//22.5)*22.5
print(monthdirs)

Month
Jan    157.5
Feb    180.0
Mar    157.5
Apr     90.0
May    157.5
Jun    157.5
Jul    157.5
Aug    135.0
Sep    135.0
Oct    135.0
Nov    157.5
Dec    157.5
Name: Orient, dtype: float64

In [121]:
ordir={'North': 0.0,
 'NNE': 22.5,
 'NE': 45.0,
 'ENE': 67.5,
 'East': 90.0,
 'ESE': 112.5,
 'SE': 135.0,
 'SSE': 157.5,
 'South': 180,
 'SSW': 202.5,
 'SW': 225.0,
 'WSW': 247.5,
 'West': 270.0,
 'WNW': 292.5,
 'NW': 315.0,
 'NNW': 337.5}

In [230]:
revord = dict([(value, key) for key, value in ordir.items()])
revord

{0.0: 'North',
 22.5: 'NNE',
 45.0: 'NE',
 67.5: 'ENE',
 90.0: 'East',
 112.5: 'ESE',
 135.0: 'SE',
 157.5: 'SSE',
 180: 'South',
 202.5: 'SSW',
 225.0: 'SW',
 247.5: 'WSW',
 270.0: 'West',
 292.5: 'WNW',
 315.0: 'NW',
 337.5: 'NNW'}

In [231]:
monthdirs.map(revord)

Month
Jan      SSE
Feb    South
Mar      SSE
Apr     East
May      SSE
Jun      SSE
Jul      SSE
Aug       SE
Sep       SE
Oct       SE
Nov      SSE
Dec      SSE
Name: Orient, dtype: object

In [248]:
print("chronological average cardinal wind orientation (not weighted by speed)")
revord = dict([(value, key) for key, value in ordir.items()])
print(monthdirs.map(revord))

print("chronological average wind direction (not weighted by speed)")
monthavgdir = allwind.groupby('Month')['Orient'].mean().astype(int)[ordermth]
print(monthavgdir)

print("chronological average closest cardinal wind direction (not weighted by speed)")
monthdirs = (allwind.groupby('Month')['Orient'].mean()[ordermth]//22.5)*22.5
print(monthdirs)

print("ascending monthly max wind speed")
dict(sorted(allwind.groupby('Month')['Speed'].max().round(2).items(), key=lambda x: x[1]))

print("ascending monthly max wind gust speed")
print(pd.DataFrame([dict(sorted(allwind.groupby('Month')['Gust'].max().items(), key=lambda x: x[1]))]))

print("ascending monthly max wind speed")
print(pd.DataFrame([dict(sorted(allwind.groupby('Month')['Speed'].mean().round(2).items(), key=lambda x: x[1]))]))

print("chronological monthly average wind speed")
mnthavgv = allwind.groupby('Month')['Speed'].mean().round(2)[ordermth]
print(pd.DataFrame([mnthavgv]))

print("ascending monthly average wind speed")
smnthavgv = [dict(sorted(allwind.groupby('Month')['Speed'].mean().round(2).items(), key=lambda x: x[1]))]
print(pd.DataFrame(smnthavgv))

chronological average cardinal wind orientation (not weighted by speed)
Month
Jan      SSE
Feb    South
Mar      SSE
Apr     East
May      SSE
Jun      SSE
Jul      SSE
Aug       SE
Sep       SE
Oct       SE
Nov      SSE
Dec      SSE
Name: Orient, dtype: object
chronological average wind direction (not weighted by speed)
Month
Jan    164
Feb    190
Mar    167
Apr    107
May    158
Jun    161
Jul    158
Aug    157
Sep    156
Oct    155
Nov    160
Dec    173
Name: Orient, dtype: int64
chronological average closest cardinal wind direction (not weighted by speed)
Month
Jan    157.5
Feb    180.0
Mar    157.5
Apr     90.0
May    157.5
Jun    157.5
Jul    157.5
Aug    135.0
Sep    135.0
Oct    135.0
Nov    157.5
Dec    157.5
Name: Orient, dtype: float64
ascending monthly max wind speed
ascending monthly max wind gust speed
    Jul   Aug   Sep   Jun   May   Apr   Oct   Nov   Dec   Mar    Feb    Jan
0  18.0  21.0  21.0  22.0  24.0  26.0  32.0  75.0  78.0  90.0  103.0  110.0
ascending monthly max wind speed
    Oct   Nov   Dec   Jan   Sep   Feb   Aug   Jun   Apr   Mar  Jul   May
0  1.27  1.57  1.63  1.94  2.38  2.49  2.64  2.65  2.75  2.78  2.8  2.82
chronological monthly average wind speed
Month   Jan   Feb   Mar   Apr   May   Jun  Jul   Aug   Sep   Oct   Nov   Dec
Speed  1.94  2.49  2.78  2.75  2.82  2.65  2.8  2.64  2.38  1.27  1.57  1.63
ascending monthly average wind speed
    Oct   Nov   Dec   Jan   Sep   Feb   Aug   Jun   Apr   Mar  Jul   May
0  1.27  1.57  1.63  1.94  2.38  2.49  2.64  2.65  2.75  2.78  2.8  2.82

In [118]:
pd.DataFrame([dict(sorted(allwind.groupby('Month')['Orient'].mean().round(2).items(), key=lambda x: x[1]))])

,Apr,Oct,Sep,Aug,May,Jul,Nov,Jun,Jan,Mar,Dec,Feb
0,107.61,155.21,156.11,157.16,158.2,158.48,160.28,161.59,164.48,167.67,173.46,190.96